<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<bean id="poly" class="BOOKINGTOUR.bean.Company">
		<property name="name" value="Du lịch Hữu Huy"/>
		<property name="slogan" value="Cuộc sống và khám phá"/>
		<property name="logo1" value="images/logos/logo1.jpg"/>
		<property name="logo2" value="images/logos/logo2.jpg"/>
		<property name="logo3" value="images/logos/logo3.jpg"/>
	</bean>
	
	<bean id="uploadfile" class="BOOKINGTOUR.bean.UploadFile">
		<property name="basePath" value="E:\\bookingtour\\product\\BOOKINGTOUR\\src\\main\\webapp\\images\\logos\"/>
	</bean>

</beans>